In [54]:
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine

In [2]:
# connect to local mysql
engine = create_engine('mysql+pymysql://mysql_user:0000@127.0.0.1:3306/yelp', echo = False)

In [55]:
# get mysql data 
# pandas.read_sql(sql, con, index_col=None, coerce_float=True, params=None, parse_dates=None, columns=None, chunksize=None)[source]¶
sql_biz = 'select * from business ;'
df_busuiness = pd.read_sql(sql_biz,engine)


sql2 = 'select * from business where city={};'
sql2=sql2.format('"Scottsdale"')
print (sql2)
df_lasvags = pd.read_sql(sql2,engine)

select * from business where city="Scottsdale";

In [57]:
df_busuiness.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [58]:
df_busuiness.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,"""-ACp6Qv866UuTD6UhTNWTA""","""Hip'tique""","""5817 Ellsworth Ave""","""Pittsburgh""","""PA""","""15232""",40.456626,-79.930517,5,5,0,"""{'RestaurantsPriceRange2': '3', 'BusinessPark...","""Home & Garden, Fashion, Women's Clothing, Fur...","""{'Tuesday': '10:30-18:0', 'Wednesday': '10:30..."
1,"""-bd4BQcl1ekgo7avaFngIw""","""Eggstasy""","""6990 E Shea Blvd""","""Scottsdale""","""AZ""","""85254""",33.5825076235,-111.9312195007,4,646,1,"""{'Ambience': ""{'romantic': False, 'intimate':...","""Diners, Breakfast & Brunch, Restaurants""","""{'Monday': '6:30-15:0', 'Tuesday': '6:30-15:0..."
2,"""-CXi1Mzut65e9nvEuhPuHg""","""Limo Connect""","""3309 W Lincoln St""","""Phoenix""","""AZ""","""85009""",33.4419176,-112.1309295,3,3,0,"""nan""","""Transportation, Event Planning & Services, Ho...","""nan"""

In [65]:
df_busuiness.groupby('city')\
            .count()['business_id']\
            .sort_values(ascending=False)

city
"Las Vegas"                 149
"Toronto"                   107
"Phoenix"                    93
"Pittsburgh"                 57
"Scottsdale"                 54
"Charlotte"                  49
"Calgary"                    36
"Montréal"                   31
"Chandler"                   27
"Mesa"                       25
"Henderson"                  24
"Glendale"                   23
"Mississauga"                23
"Tempe"                      17
"Gilbert"                    14
"Madison"                    14
"Peoria"                     12
"Cleveland"                  11
"North Las Vegas"            10
"Markham"                    10
"Surprise"                   10
"North York"                  9
"Champaign"                   7
"Richmond Hill"               6
"Mentor"                      6
"Brampton"                    6
"Matthews"                    5
"Wexford"                     4
"Gastonia"                    4
"Laval"                       4
                           ...
"Strongsville"                1
"Sun City West"               1
"Tottenham"                   1
"Urbana"                      1
"Valley View"                 1
"West Homestead"              1
"Whitchurch-Stouffville"      1
"Wickliffe"                   1
"Paradise Valley"             1
"Oakville"                    1
"Higley"                      1
"Oakmont"                     1
"Homestead"                   1
"Hudson"                      1
"Indian Land"                 1
"Indian Trail"                1
"Kirkland"                    1
"Lakewood"                    1
"Maple"                       1
"Willowick"                   1
"McKeesport"                  1
"Mentor-on-the-Lake"          1
"Mint Hill"                   1
"Monroe"                      1
"Montreal-Nord"               1
"Moon"                        1
"Mooresville"                 1
"Murrysville"                 1
"North Versailles"            1
"Airdrie"                     1
Name: business_id, Length: 133, dtype: int64